mat-grid-tile {
  animation-duration: 2s;
  background: rgba($color: #828282, $alpha: 0.5);
}

.search-card {
  position: absolute;
  height: 20vh;
  width: 20vw;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.loading-spinner {
  margin-top: 10px;
  left: 42.5%;
}

.title {
  position: absolute;
  top: 0;
  width: 100%;
}

td {
  padding-left: 20px;
}
