.container-00, .container-01 {
    position: fixed;
    width: 100%;
    height: 100%;
}

.container-00 {
    font-family: 'Lato', sans-serif;

    color: #fff;

    background-image: url('../../../assets/image/background-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px) brightness(20%);
   
    transform: scale(1.01); 
    
}

.container-01 {
    background-image: url('../../../assets/image/background-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    transform: scale(1.01); 
}

.side-bar {
    position: absolute;

    width: 5%;
    height: 100%;

    left: 0%;
    background-color: rgba(102, 1, 1, 1);
}

.logo {
    text-align: center;
    vertical-align: middle;
}

.logo img {
    width: 34px;
    height: 34px;
}

.content {
    position: absolute;
    width: 95%;
    height: 100%;

    left: 5%;
}