<div class="container-00"></div>
<div class="login-box animate__animated animate__fadeIn animate__faster">
    <div class="logo">
        <img src="../../../assets/image/logo-1.png" alt="">
    </div>
    <div class="login-form">
        <mat-form-field>
            <mat-label>Usuário</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput type="password">
        </mat-form-field>
    
        <div class="terms-use">
            <mat-checkbox>
                Eu aceito os <a>Termos de Uso</a>
            </mat-checkbox>
        </div>

        <button mat-raised-button 
            class="login-button"
            (click)="login()">
            Entrar
        </button>
    </div>
</div>