<mat-grid-list
  cols="2"
  rowHeight="2:1"
  class="animate__animated animate__fadeIn">
  <mat-grid-tile [rowspan]="2">
    <mat-selection-list [multiple]="false"
                        style="width: 100%; height: 100%"
                        (selectionChange)="onDeviceSelected($event)">
      <mat-list-option *ngFor="let device of devices" [value]="device">
       <table>
         <tr>
           <td>
             <span
               class="material-icons"
               [ngStyle]="{'color': device.status === 'On' ? '#00de3b' : 'red' }">
              trip_origin
             </span>
           </td>
           <td>{{ device.name }}</td>
           <td>
             <small>MOD:</small>
             {{ device.deviceFamily }}&#09;
           </td>
           <td>
             <small>STATUS:</small>
             {{ device.status | uppercase}}
           </td>
           <td>
             <small>ULT. VERIFICAÇÃO:</small>
             {{ device.lastChecking | date: 'dd/MM/yyyy HH:mm:ss' }}
           </td>
         </tr>
       </table>
      </mat-list-option>
    </mat-selection-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bar-chart-device
      *ngIf="portsData.length > 0"
      [data]="portsData">
    </app-bar-chart-device>
  </mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
</mat-grid-list>
